fastapi==0.115.5
uvicorn[standard]==0.32.1
python-multipart==0.0.18
pydantic==2.10.3

langchain==0.3.13
langchain-community==0.3.13
langchain-text-splitters==0.3.3
langchain-google-genai==2.0.7

faiss-cpu==1.9.0.post1
pypdf==5.1.0
docx2txt==0.8
google-generativeai==0.8.3
